/* CSS reset */

body, header, nav, main, footer, h1, div, img, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5dc;
}

html {
    scroll-behavior: smooth;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Dark background */
    padding: 10px 20px;
    position: sticky;
    top: 0;
    height: 3.9em;
    z-index: 1000; /* Ensure it stays above other content */
}

.logo{
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo img{
    border-radius: 100%;
    height: 60px;
    margin-right: 10px;
}


.nav-links {
    list-style: none;
    margin-left: 15%;
    display: flex;
    gap: 40px;
    margin-right: 35%;
}

span{
    color: white;
    font-family: "Amatic SC";
    font-size: 2em;

}

.nav-links li {
    color: white;
    font-weight: bolder;
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    padding: 10px;
}

.nav-links li.active {
    background-color: #ff6347;
    color: white;
    border-radius: 5px;
}


.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-links a:hover {
    color: #ff6347;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 15px;
    border-radius: 5px;
}


header {
    background-color: #f5f5dc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full screen height */
    padding: 0 20px;
}




.purpose-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1150px;
}


.purpose-text {
    flex: 1;
    text-align: left;
}

.purpose-text h1 {
    text-align: left;
    padding-left: 5em;
    font-size: 36px;

    
}

.purpose-text p {
    font-size: 20px;
    margin: 2% 43% 0% 4%;

    color: white;
    font-weight: bolder;
    background-color: rgba(80, 98, 102, 0.4);
    border-radius: 40px;
    text-align: center;
    padding: 30px;
    border-color:#000;
    box-shadow: 10em 4em 8em rgba(253, 10, 10, 0.1);
}

.purpose-image {
    flex: 1;
    text-align: right;
    position: relative;
}



.purpose-image img {
    width: 400px; /* Increase the size of the cat image */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s, filter 0.3s; /* Add transition for hover effect */


}

.purpose-image img:hover {
    transform: rotate(25deg); /* Rotate the image 360 degrees on hover */
    filter: brightness(1.2); /* Make the image brighter on hover */
    /* transform: scale(1.05);  */
}


/* check here */

/* CSS for upload button */
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 4px 10px 4px 5px  rgb(236, 124, 124);
    text-align: center;
}

.close {
    color: #000000;
    float: right;
    font-size: 100px;
    font-weight: bolder;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
}

.modal-content p {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 20px;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.radio-buttons label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.radio-buttons input[type="radio"] {
    display: none;
}

.radio-buttons .radio-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: border-color 0.3s;
}

.radio-buttons input[type="radio"]:checked + .radio-image {
    border-color: #ff6347; /* Highlight color */
}

.upload-button {
    background-color: #ff6347;
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.upload-button:hover {
    background-color: brown;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}





/* Speech bubble */
.speech-bubble {
    position: absolute;
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    top: -50px;
    left: 20px;
    display: none;
}


.purpose-image img:hover + .speech-bubble {
    display: block;
}


.purpose-image img:active {
    transform: scale(1.1) rotate(10deg);
    filter: hue-rotate(90deg); /* Changes color on click */
    transition: transform 0.3s, filter 0.3s;
}


.upload-icon {
    display: block;
    margin-top: 10px;
    transition: transform 0.3s
}

.upload-icon img {
    width: 50px;
}

.upload-icon:hover {
    transform: rotate(20deg);
}


/* for button */
.upload-section {
    text-align: center;
    margin-top: 20px;
    width: 2px;
}

.upload-button {
    background-color: #ff6347;
    width: 250px;
    height: 50px;
    color: white;
    border: none;
    padding: auto;
    margin: 4em;
    font-size: 30px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.upload-button:hover {
    background-color:brown; 
    box-shadow: 0 0 20px rgba(0, 2, 0, 9);
}



header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
    margin: 20px 0;
}

.paw-container {
    position: relative;
    display: inline-block;
}

.paw-container img {
    width: 200px;
}

.upload-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    transition: transform 0.3s;
}

.upload-icon img {
    width: 50px;
}

.upload-icon:hover {
    transform: rotate(20deg);
}

.gallery {
    background-color: #8f9779;
    text-align: center;
    padding: 50px 20px;
}

.gallery h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-grid img {
    width: 300px;
    transition: transform 0.3s, filter 0.3s;
    filter: brightness(0.7);
    border-radius: 50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 100);
}

.gallery-grid img:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

.see-more {
    background-color: #8f9779;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 5px;
    margin-top: 5em;
}

.see-more:hover {
    background-color: #ff6347;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



.founders {
    background-color: #f5f5dc;
    /* background-color: #f9f9f9; */
    text-align: center;
    padding: 50px 20px;
}


.founders h2 {
    color: #333;
    font-size: 36px;
    /* color: #34568B; */
    margin-bottom: 100px;
}

.founders-grid {
    display: flex;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
}


.founder{
    background-color: #fff;
    border-radius: 40px;
    height: 30em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px;
    text-align: left;
    padding-left: 30px;
    

}

.founder:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 10em rgba(131, 255, 179, 0.15);
}


.founder img {
    padding: 10px auto;
    width: 150px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}


.founder h3 {
    font-size: 30px;
    margin-bottom: 5px;
    text-align: left;
    color:#333;
}

.founder p {
    font-size: 16px;
    color: #666;
    margin: 15px;

}

.founder:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(8, 189, 62, 0.2);
}

/* Basic styling for the bio pop-up */
.bio-popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
  }
  /* Show the pop-up when active */
.bio-popup.active {
    display: block;
  }
  
  /* Close button styling */
  .bio-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  /* Responsive adjustments */
@media (max-width: 600px) {
    .bio-popup {
      width: 90%;
      padding: 15px;
    }
  }





  
.summary {
    background-color: white;
    text-align: center;
    padding: 50px 20px;
}

.summary h2 {
    font-size: 32px;
    color: blue;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    display: inline-block;
    padding-bottom: 10px;
}

footer {
    background-color: #add8e6;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 5px 0;
    font-size: 16px;
}



footer p:hover {
    font-size: 18px;
    color: #ff6347;
}





/* Gallery page */
#aesthetic{
    background-color:#10403B;
    border-radius: 4rem;
    max-width: 1200px;
    margin: 4em auto;
    padding: 2px 0rem 0px 2%;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 10000);
}

.container {
    max-width: 1200px;
    margin: 2em 0;
    padding: 2rem 1rem;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 10000);
    border-radius: 4rem;
}

/* .container  h1 {
    font-size: 2rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 6rem;
            background-color: #333;
            color: white;
}  */


.gallery-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    padding: 5rem 2rem;
}

@media (min-width: 640px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    background-color: #fff;
    border-radius: 0.7rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.card-content {
    padding: 0;

}

.card-content img {

     width: 100px;
     height: 150px;
    /* height: auto;  */
    display: block;
    padding-bottom:10em;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.action-buttons {
    display: flex;
    align-items: center;
}

.action-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    margin-right: 0.5rem;
    color: #333;
}

.action-buttons span {
    margin-right: 1rem;
}

.load-more {
    display: block;
    margin: 2rem auto 0;
    padding: 0.5rem 1rem;
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(408, 107, 107, 20);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.load-more:hover {
    background-color: #2563eb;
}














/* Report CSS */
.report-section {
    position: relative;
    text-align: center;
    padding: 150px;
    background-color: #fff;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
}

.report-section h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

.report-section p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.button-group {
    margin-bottom: 30px;
}

.report-btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.report-btn:hover {
    background-color: #0056b3;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.report-link {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.report-link:hover {
    background-color: #218838;
}

.floating-image {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}